### Dict

### create the dict object

In [14]:
d1={102:"Rahul",105:"Payal",106:"Arjun",107:"prachi"} # {key:value}

In [15]:
type(d1)

dict

In [16]:
d1

{102: 'Rahul', 105: 'Payal', 106: 'Arjun', 107: 'prachi'}

In [17]:
d2={}

In [18]:
d2

{}

In [19]:
type(d2)

dict

In [20]:
d3=dict()

In [21]:
d3

{}

In [22]:
d3=dict(103="rahul",105="payal")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2068153004.py, line 1)

In [23]:
d3=dict(r="Rahul",p="Payal")

In [24]:
d3 #keyword is written as string

{'r': 'Rahul', 'p': 'Payal'}

### how to access dict object

In [25]:
print(d1)

{102: 'Rahul', 105: 'Payal', 106: 'Arjun', 107: 'prachi'}

In [27]:
d1[102]

'Rahul'

In [28]:
d1[105]

'Payal'

In [30]:
for k in d1:
    print(k)

102
105
106
107

In [31]:
for e in d1:
    print(e,d1)

102 {102: 'Rahul', 105: 'Payal', 106: 'Arjun', 107: 'prachi'}
105 {102: 'Rahul', 105: 'Payal', 106: 'Arjun', 107: 'prachi'}
106 {102: 'Rahul', 105: 'Payal', 106: 'Arjun', 107: 'prachi'}
107 {102: 'Rahul', 105: 'Payal', 106: 'Arjun', 107: 'prachi'}

In [33]:
for e in d1:
    print(e,d1[e])

102 Rahul
105 Payal
106 Arjun
107 prachi

In [34]:
d1[102]

'Rahul'

In [36]:
print(d1[102],d1[105],d1[106])

Rahul Payal Arjun

### how to edit dict element

In [42]:
d1[102]=(10,20) # edited dict data-value key can't be edited

In [43]:
d1

{102: (10, 20), 105: 'Payal', 106: 'Arjun', 107: 'prachi'}

In [44]:
d1[102]=20

In [45]:
d1

{102: 20, 105: 'Payal', 106: 'Arjun', 107: 'prachi'}

In [46]:
d1[102]="Ravi"

In [47]:
d1

{102: 'Ravi', 105: 'Payal', 106: 'Arjun', 107: 'prachi'}

In [48]:
d1[103]="Suman" # new element added in dict

In [49]:
d1

{102: 'Ravi', 105: 'Payal', 106: 'Arjun', 107: 'prachi', 103: 'Suman'}

In [53]:
del d1[102] # deleting data in dect

In [54]:
d1

{105: 'Payal', 106: 'Arjun', 107: 'prachi', 103: 'Suman'}

### dict objects method

In [57]:
a=d1.keys()

In [58]:
a

dict_keys([105, 106, 107, 103])

In [59]:
type(a)

dict_keys

In [60]:
d1.keys()

dict_keys([105, 106, 107, 103])

In [62]:
d1.values()

dict_values(['Payal', 'Arjun', 'prachi', 'Suman'])

In [63]:
d1.items()

dict_items([(105, 'Payal'), (106, 'Arjun'), (107, 'prachi'), (103, 'Suman')])

In [65]:
for t in d1.items():
    k=t[0]
    d=t[1]
    print(k,d)

105 Payal
106 Arjun
107 prachi
103 Suman

In [67]:
for t in d1.items():
    print(t)

(105, 'Payal')
(106, 'Arjun')
(107, 'prachi')
(103, 'Suman')

In [69]:
for t in d1.items():
    k,d=t
    print(k,d)

105 Payal
106 Arjun
107 prachi
103 Suman

In [70]:
for k,d in d1.items():
    print(k,d)

105 Payal
106 Arjun
107 prachi
103 Suman

### built in methods

In [71]:
d1

{105: 'Payal', 106: 'Arjun', 107: 'prachi', 103: 'Suman'}

In [72]:
len(d1)

4

In [73]:
max(d1) #see only key

107

In [74]:
min(d1) #see only key

103

In [75]:
sum(d1) #see only key

421

In [76]:
sorted(d1)#see only key

[103, 105, 106, 107]

In [86]:
d2={a:10,b:40,c:20} #key should not be variable

NameError: name 'b' is not defined

In [96]:
d2=dict(a=10, b=30, c=20)

In [97]:
d2

{'a': 10, 'b': 30, 'c': 20}

In [98]:
d3={1:100,2:50,3:50}

In [99]:
d4={1.1:10,10:40,100:20}

In [100]:
d2

{'a': 10, 'b': 30, 'c': 20}

In [101]:
len(d2)

3

In [102]:
max(d2)

'c'

In [103]:
min(d2)

'a'

In [104]:
sum(d2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [105]:
sorted(d2)

['a', 'b', 'c']

In [106]:
### concatenation and repetition operator

In [107]:
d1+d2 # not supported

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [109]:
d2*1 # not supported

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

### comparision operator

In [110]:
d3

{1: 100, 2: 50, 3: 50}

In [111]:
d4={2:50,1:100,3:50}

In [112]:
d4

{2: 50, 1: 100, 3: 50}

In [113]:
d3==d4 #order not neccessary item should be equal

True

In [115]:
d3!=d4

False

In [117]:
d3>d4#d3>d4 or d4>d3 not supported

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [119]:
d3>=d4 # d3>=d4 or d3<=d4 not supported

TypeError: '>=' not supported between instances of 'dict' and 'dict'

### dict object method

In [120]:
d1

{105: 'Payal', 106: 'Arjun', 107: 'prachi', 103: 'Suman'}

In [121]:
d1.pop(106) #106 key and data removed from d1

'Arjun'

In [122]:
d1

{105: 'Payal', 107: 'prachi', 103: 'Suman'}

In [123]:
d1.popitem() #last item is deleted

(103, 'Suman')

In [124]:
d1

{105: 'Payal', 107: 'prachi'}

In [125]:
d2

{'a': 10, 'b': 30, 'c': 20}

In [126]:
d2.clear() #whole dict is cleared ie., empty dict

In [127]:
d2

{}

### dict comprehension

In [128]:
# d1={key-expression:data-expression for v in seq}
d1={a:a**2 for a in range(1,8,1)}

In [129]:
d1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}