### itrables

#### range

In [17]:
r=range(1,6,2) #beg=1 end=6 step=2
print(r)

range(1, 6, 2)

In [18]:
for a in r:
    print(a)

1
3
5

In [10]:
r=range(10,3,-2)
for a in r:
    print(a)

10
8
6
4

In [11]:
r=range(10,3,-2)
for a in range(10,1,-3):
    print(a)

10
7
4

In [13]:
r=range(10,3,-2)
for a in range:
    print(a)

TypeError: 'type' object is not iterable

In [14]:
for a in range(5): #beg=0, step= 1
    print(a)

0
1
2
3
4

In [19]:
for a in range (1,5):  #beg=1, step= 5
    print(a)

1
2
3
4

In [20]:
r= range(2,10,3)
for e in r:
    print(e,e**2)

2 4
5 25
8 64

In [23]:
# write a programme to print first n natural numbers
n=int(input("enter a number = "))
for a in range (1,n+1,1):
    print(a,end=" ")

enter a number = 10
1 2 3 4 5 6 7 8 9 10

In [25]:
# write a progrrame to print squares of first n natural numbers
n=int(input("enter a number = "))
for a in range (1,n+1):
    print(a**2,end=" ")

enter a number = 10
1 4 9 16 25 36 49 64 81 100