In [1]:
print(3*4) # * multiplication

12

In [2]:
print(3**2) # ** for power

9

In [4]:
print(4/2) # true division operators always give result in float

2.0

In [5]:
3//4 # ans 0.75 but shows ans before decimal

0

In [6]:
3.0//4
# for float ans is in float

0.0

In [7]:
# modulus operator teels reminder
5%2

1

### relational operator

In [8]:

4>5

False

In [12]:
6>5>4

True

In [14]:
not True

False

In [15]:
not 3>4

True

In [16]:
3>0 and 4>0 # both should be true

True

In [17]:
4>2 or 1>3 #anyone true

True

In [18]:
# non empty string "   " ==> false
# empty string "" ==> true
"seeta" or "geeta"

'seeta'

In [19]:
"ram" and "shyam"

'shyam'

In [20]:
# every non zero value is true and zero is false
3 and 4

4

In [21]:
0 and 5

0

In [23]:
0 or 5

5

### bitwise operator

In [24]:

3&4 # additio of 3&4 in binary 011(3)+100(4)=000 and operation

0

In [27]:
3|4 # addn of 3 and 4 or addin 011+100=111(7) or oprn

7

In [35]:
# assignment variable 
# a=5, 5=a(error)
# a,b,c = 5,6,7       [a=5,b=6,c=8(error)]
x=5
id(x) # tells address

2238443710896

In [34]:
y=5
id(y)

2238443710896

In [36]:
y=6
id(y)

2238443710928

# membership oprator

### in, not in

In [37]:
 # x in y, y is iterable(collection of elements) so it can't be int,float,complex,bool
    # but can be list, str, range, tuple, set, dict, etc

In [38]:
y="mysirg"

In [39]:
"my" in y

True

In [40]:
"y" in y

True

In [41]:
4 in 456

TypeError: argument of type 'int' is not iterable

### input() function

In [42]:
x = input()

hellow

In [43]:
print(x)

hellow

In [46]:
type(x)

str

In [47]:
x=input("enter your name")
print("hellow",x)

enter your namevaibhav
hellow vaibhav